*:focus {
    outline: none;
}

.cool-input {
    height:17px;
    border: 0;
    width: calc(100% - 2px);
    margin-left:1px;
    box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
  }
  .cool-input:focus {
    outline: none;
    box-shadow: -8px 10px 0px -7px #4EA6EA, 8px 10px 0px -7px #4EA6EA;
  }

  .search {
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 400px;
      z-index: 10;
  }

  .search input {
      border-radius: 2px;
      padding: 2.5px;
      font-size: 1.5rem;
      width: 100%;
  }